<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container" style="max-width: 1000px;">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-box">
              {% for message in messages %}
                <div class="flash-message">📢 {{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <a href="/" class="back-btn">⬅️ Back to Home</a>

        <h2>🛡️ Admin Dashboard</h2>

        <div class="nav-buttons">
                <a href="/admin/users" class="btn">Go to Users</a>
                <a href="/admin/stations" class="btn">Go to Stations</a>
                <a href="/admin/trains" class="btn">Manage Trains</a>
                <a href="/admin/line-analytics" class="btn">View Line-Analytics</a>
                <a href="/admin/analytics" class="btn">View Routes-Analytics</a>
                <a href="/admin/generate-ticket" class="btn">Ticket</a>
                <a href="/admin/complaints" class="btn">📬 View Complaints</a>
            </div>

</body>
</html>